$indigo: #3F51B5;
$dark-indigo: #303F9F;
$light-indigo: #7986CB;
$blue: #2196F3;
$light-blue: #03A9F4;
$grey: #616161;
$dark-grey: #424242;
$red: #F44336;
$orange: #FF9800;
$green: #4CAF50;
$light-grey: #E0E0E0;
